:root {
  padding: 1rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Custom Colors */
  --color-red: #c8003c;
  --color-black: #000000;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/* Title */
.title {
  font-size: 1.5rem;
  display: flex;
}

.title-red {
  color: var(--color-red);
}

.title-black {
  color: var(--color-black);
}

/* Button */
button {
  background: none;
  border: none;
  cursor: pointer;
}
